
@{
    ViewData["Title"] = "Index";
}

<h2>Services</h2>

<a asp-area="Products" asp-controller="Home" asp-action="Index">[Product]</a>
<span>/</span>
<a asp-area="Products" asp-controller="Manage" asp-action="Index">[Manage]</a>