<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>@RenderBody()</div>
    <a asp-area="Services" asp-controller="Home" asp-action="Index">Go back</a>
</body>
</html>
