@page
@model Page3Model
@{ ViewData["Title"] = "others/page3"; }
<code><i>replace <b>TriggerValue</b> to <b>ReplacementValue</b></i></code>
<h1>@ViewData["Title"]</h1>
<h2>@Model.Message</h2>
<p>@Model.RouteDataGlobalTemplateValue</p>
<p>@Model.RouteDataOtherPagesTemplateValue</p>